.recipe-preview-container{
    width: 90%;
    height: 10rem;
    background-color: #5178B2;
    border-radius: 15px;
    padding:10px;
    margin: 10px 0px;
    color:white;
    font-weight: 600;
 
}

.preview-inside{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}

h3{
    margin: 0;
}
.preview-info{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.preview-buttons{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: end;
}

p{
    padding: 0;
    margin:7px 0px;
}